* {
  margin: 0;
  padding: 0;
  transition: all 0.5s;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background-color: rgba(132, 3, 192, 0.295);
  background-size: cover;
  animation: bgmove 60s ease-in-out infinite;
}

@media (max-width: 721px) {
  body {
    padding: 4rem 1.5rem;
  }
}

body.bg {
  background-image: url(cloud.png);
}

.overlay.blur {
  backdrop-filter: blur(5px);
  position: absolute;
  inset: 0;
  z-index: 1;
}
@keyframes bgmove {
  to {
    background-position: 100% 1000%;
  }
}

h1 {
  color: purple;
  margin-bottom: 1em;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

.col {
  padding: 2.5rem 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.63);
  border-radius: 7px;
}

input {
  font-size: 1.5rem;
  width: 100%;
  border-radius: 5px;
  float: left;
  margin: 1rem 0;
  padding: 0.2em 0.5em;
  outline: none;
  border: 1px solid rgba(151, 129, 129, 0.555);
}

input:focus {
  border: none;
  outline: none;
}

.col2 p {
  max-height: 40vh;
  overflow-y: auto;
  transform: scale(0);
}

button {
  background: #dab4ec;
  color: rgb(255, 255, 255);
  border: none;
  padding: 1rem 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  margin-top: 1rem;
  width: 100%;
}

button:hover {
  background-color: blue;
}

.col2 p {
  margin-top: 2rem;
  background: #333;
  color: white;
  padding: 1rem;
  border-radius: 7px;
}

.col2 {
  position: relative;
}

.col2 .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2em;
  width: 100%;
}

.material-icons-outlined {
  position: fixed;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 999;
}

.modal {
  height: 70vmin;
  width: 70vmin;
  background-color: white;
  position: fixed;
  inset: 50%;
  border-radius: 10px;
  padding: 1.5rem;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center;
  transition: 0.2s;
  z-index: 190;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal p {
  background-color: red;
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  line-height: 1.6;
  border-radius: 10px;
}

.show {
  transform: translate(-50%, -50%) scale(1);
  z-index: 100;
}

@media (min-width: 900px) {
  #wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    padding: 1rem 4rem;
    min-height: 100vh;
  }

  .col-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
  }

  p {
    width: 400px;
  }
}

::-webkit-input-placeholder {
  opacity: 0.5;
  font-size: 15px;
}
